
.star-rating {
  display: inline-block;
  font-size: 1.5rem;
  color: #1b3e64;
}

.star-rating > label {
    margin-left: 0.5em;
    margin-right: 2em;
    display: inline-block;
    cursor: pointer;
    width: auto;
    height: 1em;
    padding: 0;
    text-align: center;
    font-weight: 600;
    line-height: -11px;
    font-size: 18px;
    color: #1b3e64;
    transition: color 200ms;
    }

.star-rating > input {
}

.star-rating > label:hover,
.star-rating > label:hover ~ label,
.star-rating > input:checked ~ label {
}