.navigation {
  width: 100%;
  height: 90px;
  display: flex;
  align-items: center;
  border-top: 6px solid #d60e96;
}

.logo {
  max-height: 70px;
}

li {
  list-style: none;
}

.fa,
.fas {
  font-family: 'FontAwesome';
}

ul li a {
  font-size: 1.1rem;
  color: #343a40;
}

ul li a.cart:hover {
  text-decoration: none;
  color: #d60e96;
}

ul li a.cart .cart-basket {
  font-size: .6rem;
  position: absolute;
  top: -6px;
  right: -5px;
  width: 15px;
  height: 15px;
  color: #fff;
  background-color: #418deb;
  border-radius: 50%;

}
/*navbar image*/
.navbar {
   background-color: white;
}
