@import url('https://fonts.googleapis.com/css?family=Poppins');
body {
font-family: "Poppins", sans-serif;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    font-family: Roboto, sans-serif;
}
.G5KGVD{
    font-size: 20px;
        color: red;
        font-weight: 600;
}
header {
    position: fixed;
    z-index:100;
    width: 100vw;
    height: 80px;
    background-color: rgb(255, 255, 255);
    width: 100%;
    box-shadow: 0px 0px 5px rgb(176, 176, 176);
}

.header_logo img {
        height: 70px;
    }

.row {
    width: 100%;
    justify-content: center;
    text-align: center;
}

.row .col-sm-3 .header_logo{
    width: 100%;
    text-align: right;
}

.row .col-sm-6 .header_nav{
    padding: 0px 3em;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_nav .nav_header_a{
    text-decoration: none;
    color: black;
    font-weight: 500;
}
.header_nav .nav_header_a:hover {
  color: #0098da;
}

.search-container {
    display: flex;
    align-items: center;
  }

  .search-container input[type="search"] {
    padding: 5px;
    width: 170px;
    border: 1px solid #ccc;
    border-radius: 4px;
    border: 0.5px solid rgba(177, 177, 177, 0.137);
  }

  .search-container button {
    margin-left: 5px;
    padding: 5px 10px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 4px;
  }

  .search-container button:hover {
    margin-left: 5px;
    padding: 5px 10px;
    background-color: #414141;
    color: #fff;
    border: none;
    border-radius: 4px;
  }

  .account_action {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 80px;
  }

  .account_icons{
    padding: 0px 2em;
    display: flex;
  }
  .cart-button {
  position:relative;
  justify-content: center;
      display: flex;
      align-items: center;
  }

  .account_icon{
    font-size: 25px;
    padding: 0px 1rem;
  }

  .account_icon{
   color: black;
  }
#lblCartCount {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        position: absolute;
        font-size: 12px;
        background: #ff0000;
        color: #fff;
        padding: 0 5px;
        vertical-align: top;
        margin-left: 10px;
        top: -2px;
        right: -13px;
        display: flex;
        justify-content: center;
        align-items: center;
}

  nav {
    background-color: #fff;
    padding: 0 3rem;
    border-radius: 0.625rem;
  }

  ul {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  li {
    list-style-type: none;
    position: relative;
    padding: 0.625rem 0 0.5rem;
  }
  li ul {
    flex-direction: column;
    position: absolute;
    background-color: white;
    align-items: flex-start;
    transition: all 0.3s ease;
    width: 20rem;
    right: -7px;
    top: 3.5rem;
    border-radius: 0.325rem;
    gap: 0;
    padding: 1rem 0rem;
    opacity: 0;
    box-shadow: 0px 0px 100px rgba(20, 18, 18, 0.25);
    display: none; /* Thêm thuộc tính hiển thị mặc định */
  }

  ul li:hover > ul,
  ul li ul:hover {
    visibility: visible;
    opacity: 1;
    display: flex;
    top: 55px;
    right: -7px;
    z-index: 10000;
  }


  .material-icons-outlined {
    color: #212121;
    transition: all 0.3s ease-out;
    width: 20px;
  }

  .material-icons-outlined:hover {
    color: #00baee;
    transform: scale(1.25) translateY(-4px);
    cursor: pointer;
  }


  .profile {
    cursor: pointer;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    clip-path: circle(50px at 50% 50%);
    margin-right: 0.5em;
    border: 1.5px solid #00baee;
    margin-bottom: 0.2em;
  }

  .sub-item {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 0.725rem;
    cursor: pointer;
    padding: 0.5rem 1.5rem;
  }

  .sub-item:hover {
    background-color: rgba(232, 232, 232, 0.4);
  }

  .sub-item:hover .material-icons-outlined {
    color: #00baee;
    transform: scale(1.1) translateY(-5px);
    cursor: pointer;
  }

  .sub-item:hover p {
    color: #000;
    cursor: pointer;
  }

  .sub-item p {
    font-size: 18px;
    color: #888888;
    font-weight: 500;
    margin: 0.4rem 0;
    flex: 1;
  }
.logout {
    width:100%;
  }
  .logout:hover {
    text-decoration:none;
  }





    main{
    position:relative;
      top: 80px;
      width: 100%;
    }

    .slogan {
      background-color: #18b5f9;
      display: flex;
      justify-content: center;
      height: 48px;
      align-items: center;
  	font-size: 18px;
  	font-weight: 500;
  	text-align: center;
  	font-family: "Poppins", sans-serif;
  	position: relative;
      color: white;
       }
       .slider {
           width: 100%;
           overflow: hidden;
         }

         .slide {
           width: 100%;
           display: none;
         }

         .slide img {
           width: 100%;
         }

         .active {
           display: block;
         }

         .slider a{
           text-decoration: none;
         }
         .prev,
       .next {
         position: absolute;
         top: 17%;
         transform: translateY(-50%);
         font-size: 30px;
         cursor: pointer;
         padding: 10px;
         color: white;
         text-decoration: none;
       }

       .prev {
         left: 10px;
       }

       .prev:hover {
          text-decoration: none;
         }

       .next {
         right: 10px;
       }

       .next:hover {
           text-decoration: none;
          }
.nav_branch_logo {
    max-width: 100%;
    height: 140px;
    display: flex;
    justify-content: space-between;
    padding: 2em 25em;
    background-color: white;
    border-bottom:2px solid rgba(0, 0, 0, 0.289);
}

.nav_branch_logo a{
    width: 20%;
    height: 60px;
}

.brand_logo {
    width: 100%;
    padding: 0px 1rem;
    height: auto;
}
.popular_product {
    width: 100%;
    height:550px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    border-bottom:2px solid rgba(0, 0, 0, 0.289);
    background-color: #00fbeb0a;
}

.popular_product_header h1{
    width: 100%;
    height: 70px;
    margin-bottom: rem;
    font-family: "Poppins", sans-serif;
}

.astra-shop-thumbnail-wrap {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: auto;
    border-radius: 10px 10px 0px 0px;
}

.astra-shop-thumbnail-wrap img{
    width: 100%;
    height: auto;
    transition: transform 0.3s;
}

.astra-shop-thumbnail-wrap img:hover {
    transform: scale(1.1);
    overflow: hidden;
}


.popular_product_header h1{
    line-height: 70px;
    text-align: center;
    color: black;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
}

.popular_product_product_lines {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.popular_product_product_line {
    border: 3px solid #0099dab0;
    border-radius: 10px;
    background-color: #fff;
    width: 250px;
    height: 390px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Poppins", sans-serif;
    box-shadow: 2px 2px 6px rgba(152, 152, 152, 0.315);
}

.astra-shop-summary-wrap {
    padding-left: .5rem;
    padding-top: .5rem;
    line-height: 30px;
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: left;
}

.product_category {
    font-size: 14px;
    font-weight: 550;
    color: #41414175;
    font-family: "Poppins", sans-serif;
    text-decoration: none;
}

.product_link{
    text-decoration: none;
    color: #414141bc;
}

.product_link:hover{
    text-decoration: none;
    color: #414141bc;
}

.product_name a{
    color: black;
    text-decoration: none;
}
.product_name a:hover{
    color: black;
    text-decoration: none;
}

.product_name {
    font-family: "Poppins", sans-serif;
    line-height: 30px;
    font-style: italic;
    font-size: 18px;
}

.product_rating .fas{
    font-size: 14px;
    margin-right: 2px;
}
.product_price {
    font-size: 21px;
    font-weight: 600;
    margin-top: 5px;
}

  .product_footer{
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 6px rgba(152, 152, 152, 0.315);
  }

  .pagination {
    display: inline-block;
  }

  .pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    border-radius:50%;
    margin-right: .5em;
  }
  .pagination a.active-page{
    font-weight: bold;
    color:black;
    background: #e1e1e19c;
    border-radius:50%;
    }

  .pagination a:hover {
    text-decoration: none;
  }

  .pagination a.active {
    background-color:#0098da;
    color: white;
  }

  .pagination a:hover:not(.active) {background-color: #ddd;}

/*Footer man hinh rong */
  footer {
      position: relative;
      top: 80px;
      padding: 0px 2em;
      background-color: #4dded50a;
      padding-top: 2em;
      }

      .footer_container {
        max-width: 100%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0px 2em;
        align-items: center;
        justify-content: center;
      }

      .footer-contents {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
      }

      .footer-content {
          width: 24%;
          height: 100%;
        }

        .footer-content img {
          width: 200px;
          padding-top: 1em;
        }

      h3 {
        font-size: 18px;
        margin-bottom: 10px;
      }

      p {
        margin: 0;
        text-wrap: revert;
            margin: 0;
            width: 90%;
            text-align: justify;
      }

      .social-media {
        list-style: none;
        padding: 0;
        margin-top: 10px;
      }

      .social-media li {
        display: inline-block;
        margin-right: 10px;
      }

      .social-media li a {
        color: #333;
        font-size: 20px;
      }

      .footer-copy {
        text-align: center;
        margin-top: 20px;
        font-size: 18px;
        color: #777;
        font-style: italic;
      }



.popular_product1 {
    padding-top: 1em;
    box-shadow: 0px 0px 4px rgb(155, 155, 155);
}
h2 {
	color: #000;
	font-size: 26px;
	font-weight: 300;
	text-align: center;
	text-transform: uppercase;
	position: relative;
	margin-bottom: 1.5em;
}
h2::after {
	content: "";
	width: 100px;
	position: absolute;
	margin: 0 auto;
	height: 4px;
	border-radius: 1px;
	background: #0099dab0;
	left: 0;
	right: 0;
	bottom: -20px;
}
.item {
   width: 100%;
      margin-top: 4em;
  	color: #747d89;
  	min-height: 470px;
  	text-align: center;
      display: flex;
      flex-direction: row;
      justify-content: center;
  }
  .thumb-wrapper {
      height: 455px;
      padding: 0px 0px 20px 0px;
      border: 2px solid #0099dab0;
  	background: #fff;
  	border-radius: 10px;
  	text-align: center;
  	position: relative;
  	box-shadow: 0 2px 3px rgba(0,0,0,0.2);
      margin-bottom: 2em;
  }
  .item .img-box {
  	height: 240px;
  	margin-bottom: 20px;
  	width: 100%;
  	position: relative;
      overflow: hidden;
      transition: 1s;
      border-radius: 10px 10px 0px 0px;
  }

  .img-box img {
      transition: transform 02s;
      width: 100%;
      height: 100%;
      cursor: pointer;
  }

  .img-box img:hover {
      scale: 1.1;
  }

  .thumb-content {
          display: flex;
         flex-direction: column;
         justify-content: center;
     }

     .thumb-content h4{
     height:40px;
        padding: 0px 0.5em;
        }
  .item img {
  	max-width: 100%;
  	max-height: 100%;
  	display: inline-block;
  	position: absolute;
  	bottom: 0;
  	margin: 0 auto;
  	left: 0;
  	right: 0;
  }
  .item h4 {
  	font-size: 18px;
      color: black
  }
  .item h4, .item p, .item ul {
  	margin-bottom: 5px;
  }
  .thumb-content .btn {
  	color: #00baee;
  	font-size: 9px;
  	text-transform: uppercase;
  	font-weight: bold;
  	background: none;
  	border: 1px solid #00baee;
  	padding: 6px 14px;
  	margin-top: 5px;
  	line-height: 16px;
  	border-radius: 20px;
  	width: 100px;
  }
  .thumb-content .btn:hover, .thumb-content .btn:focus {
  	color: #fff;
  	background: #00baee;
  	box-shadow: none;
  }

  .thumb-content h4 a {
  text-decoration: none;
  color: black;}

  .thumb-content h4 a:hover {
  color: #00baee;}

  .thumb-content .btn i {

  	font-size: 14px;
  	font-weight: bold;
  	margin-left: 5px;
  }
  .item-price {
         width: 60%;
         display: flex;
         color: #ff0000;
         align-items: center;
         padding-top: 10px;
  }
  .wish-icon {
  	position: absolute;
  	right: 10px;
  	top: 10px;
  	z-index: 99;
  	cursor: pointer;
  	font-size: 17px;
  	color: #abb0b8;
  }
  .wish-icon .fa-heart {
  	color: #ff6161;
  }
  .star-rating li {
  	padding: 0;
  }
  .star-rating i {
  	font-size: 14px;
  	color: #ffc000;
      text-align: center;
  }

  .thumb-content_footer {
     width: 100%;
         display: flex;
         align-items: center;
         padding: 0px 1em;
  }

  .choose_size {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 0px 1em;
      justify-content: space-between;
      margin-bottom: .5em;
  }

  .size_lable {
      font-size: 13px;
  }
  .size_btn {
      margin-left: 5px;
      background-color: rgba(255, 255, 255, 0);
      border: 1px solid rgb(173, 173, 173);
      font-size: 13px;
      min-width: 17px;
      height: 25px;
      border-radius: 3px;
  }

  .size_btn.selected {
       background-color: red;
       color: white;
  }

  .choose_color {
      height: 20px;
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 0px 1em;
      justify-content: flex-start;
      margin-bottom: .5em;
      margin-top: 1em;
  }

  .color_btn {
      margin-left: 5px;
      background-color: rgba(255, 255, 255, 0);
      border: 1px solid rgb(173, 173, 173);
      font-size: 13px;
      min-width: 30px;
      height: 25px;
      border-radius: 3px;
  }

  .color_btn.selected {
       background-color: red;
       color: white;
  }



  .badge {
    padding-left: 9px;
    padding-right: 9px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
  }

  .label-warning[href],
  .badge-warning[href] {
    background-color: #c67605;
  }
}







































@media (max-width: 768px) {
body {
font-family: "Poppins", sans-serif;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    font-family: Roboto, sans-serif;
}
   header {
       position: fixed;
       z-index: 100;
       width: 100vw;
       height: 80px;
       background-color: rgb(255, 255, 255);
       width: 100%;
       box-shadow: 0px 0px 5px rgb(176, 176, 176);
   }

   .row {
       width: 100%;
       justify-content: center;
       text-align: center;
   }

   .row .col-sm-3 .header_logo {
       width: 100%;
       text-align: center;
   }

   .row .col-sm-6 .header_nav {
       padding: 0px 1em;
       height: 80px;
       display: flex;
       justify-content: space-between;
       align-items: center;
   }

   .header_nav .nav_header_a {
       text-decoration: none;
       color: black;
       font-weight: 500;
   }

   .header_nav .nav_header_a:hover {
       color: #0098da;
   }

   .search-container {
       display: flex;
       align-items: center;
   }

   .search-container input[type="search"] {
       padding: 5px;
       width: 100px;
       border: 1px solid #ccc;
       border-radius: 4px;
       border: 0.5px solid rgba(177, 177, 177, 0.137);
   }

   .search-container button {
       margin-left: 5px;
       padding: 5px 10px;
       background-color: #333;
       color: #fff;
       border: none;
       border-radius: 4px;
   }

   .search-container button:hover {
       margin-left: 5px;
       padding: 5px 10px;
       background-color: #414141;
       color: #fff;
       border: none;
       border-radius: 4px;
   }

   .account_action {
       display: flex;
       flex-direction: row;
       align-items: center;
       height: 80px;
   }

   .account_icons {
       padding: 0px 1em;
       display: flex;
   }

   .cart-button {
       position: relative;
       justify-content: center;
       display: flex;
       align-items: center;
   }

   .account_icon {
       font-size: 20px;
       padding: 0px 0.5rem;
       color: black;
   }

   #lblCartCount {
       width: 18px;
       height: 18px;
       border-radius: 50%;
       position: absolute;
       font-size: 10px;
       background: #ff0000;
       color: #fff;
       padding: 0 3px;
       vertical-align: top;
       margin-left: 8px;
       top: -2px;
       right: -10px;
       display: flex;
       justify-content: center;
       align-items: center;
   }

   img {
       max-width: 100%;
       height: auto;
   }

   nav {
       background-color: #fff;
       padding: 0 1.5rem;
       border-radius: 0.625rem;
   }

   ul {
       margin: 0;
       padding: 0;
       display: flex;
       align-items: center;
       gap: 0.5rem;
   }

   li {
       list-style-type: none;
       position: relative;
       padding: 0.5rem 0 0.25rem;
   }

   li ul {
       flex-direction: column;
       position: absolute;
       background-color: white;
       align-items: flex-start;
       transition: all 0.3s ease;
       width: 15rem;
       right: -7px;
       top: 2.75rem;
       border-radius: 0.325rem;
       gap: 0;
       padding: 0.75rem 0rem;
       opacity: 0;
       box-shadow: 0px 0px 100px rgba(20, 18, 18, 0.25);
       display: none;
   }

   ul li:hover > ul,
   ul li ul:hover {
       visibility: visible;
       opacity: 1;
       display: flex;
       top: 42px;
       right: -7px;
       z-index: 10000;
   }

   .material-icons-outlined {
       color: #212121;
       transition: all 0.3s ease-out;
       width: 16px;
   }

   .material-icons-outlined:hover {
       color: #00baee;
       transform: scale(1.25) translateY(-4px);
       cursor: pointer;
   }

   .profile {
       cursor: pointer;
       width: 32px;
       height: 32px;
       border-radius: 50%;
       clip-path: circle(50px at 50% 50%);
       margin-right: 0.5em;
       border: 1.5px solid #00baee;
       margin-bottom: 0.2em;
   }

   .sub-item {
       width: 100%;
       display: flex;
       align-items: center;
       gap: 0.5rem;
       cursor: pointer;
       padding: 0.25rem 0.75rem;
   }

   .sub-item:hover {
       background-color: rgba(232, 232, 232, 0.4);
   }

   .sub-item:hover .material-icons-outlined {
       color: #00baee;
       transform: scale(1.1) translateY(-5px);
       cursor: pointer;
   }

   .sub-item:hover p {
       color: #000;
       cursor: pointer;
   }

   .sub-item p {
       font-size: 14px;
       color: #888888;
       font-weight: 500;
       margin: 0.2rem 0;
       flex: 1;
   }

   .logout {
       width: 100%;
   }

   .logout:hover {
       text-decoration: none;
   }
}






@media (max-width: 535px) {
body {
font-family: "Poppins", sans-serif;
    width: 100vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    font-family: Roboto, sans-serif;
}
.G5KGVD{
    font-size: 20px;
        color: red;
        font-weight: 600;
}
    header {
        position: fixed;
        z-index: 100;
        width: 100vw;
        height: 68px;
        background-color: rgb(255, 255, 255);
        box-shadow: 0px 0px 5px rgb(176, 176, 176);
    }

    .row {
            display: flex;
            max-width: 100vw;
            flex-direction: row;
        }
        .row .col-sm-2 {
            width: 20vw;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .row .col-sm-2 .header_logo {
            text-align: center;
        }

        .header_logo img {
            height: 50px;
        }

        .row .col-sm-6 {
            display: none;
            width:0px;
        }

        .row .col-sm-4 {
            width: 70vw;}

        .header_nav .nav_header_a {
            font-size: 14px;
            display:none;
        }

        .search_input {
            width: 50%;
        }


    .search-container input[type="search"] {
        padding: 3px;
        width: 100%;
        border: 1px solid #ccc;
        border-radius: 4px;
    }

    .search-container button {
        margin-left: 5px;
        padding: 3px 8px;
    }

    .account_action {
        height: 70px;
            width: 92vw;
    }

    .account_icons {
        padding: 0px 1em;
        width: 17vw;
    }

    .account_icon {
        font-size: 20px;
        padding: 0px 0.5rem;
    }

    .account_icon {
        color: black;
    }

    #lblCartCount {
        font-size: 10px;
        padding: 0 3px;
        margin-left: 8px;
        top: -2px;
        right: -10px;
    }

    .profile {
        min-width: 35px;
        height: 35px;
        border: 1px solid #00baee;
        margin-right: 0.25em;
        margin-bottom: 0.15em;
    }

    .sub-item p {
        font-size: 14px;
        margin: 0.15rem 0;
    }

    .logout {
        width: 100%;
    }
    main{
      position:relative;
        top: 68px;
        width: 100vw;
      }

      .slogan {
        background-color: #18b5f9;
        display: flex;
        justify-content: center;
        height: 30px;
        align-items: center;
    	font-size: 14px;
    	font-weight: 500;
    	text-align: center;
    	font-family: "Poppins", sans-serif;
    	position: relative;
        color: white;
         }
    .nav_branch_logo {
        display:none;
    }
.popular_product {
    width: 100%;
    min-height:910px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    border-bottom:2px solid rgba(0, 0, 0, 0.289);
    background-color: #00fbeb0a;
}

.popular_product_header h1{
    width: 100%;
    height: 70px;
    margin-bottom: rem;
    font-family: "Poppins", sans-serif;
}

.astra-shop-thumbnail-wrap {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: auto;
    border-radius: 10px 10px 0px 0px;
}

.astra-shop-thumbnail-wrap img{
    width: 100%;
    height: auto;
    transition: transform 0.3s;
}

.astra-shop-thumbnail-wrap img:hover {
    transform: scale(1.1);
    overflow: hidden;
}


.popular_product_header h1{
    line-height: 70px;
    text-align: center;
    color: black;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
}

.popular_product_product_lines {
        width: 100vw;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding-right: 1em;
}

.popular_product_product_lines .row .col-sm-3 {
width:47vw;
}

.popular_product_product_line {
    border: 3px solid #0099dab0;
    border-radius: 10px;
    background-color: #fff;
    max-height: 420px;
    width:108%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Poppins", sans-serif;
    box-shadow: 2px 2px 6px rgba(152, 152, 152, 0.315);
        margin-bottom: 0.5em
}

.astra-shop-summary-wrap {
    padding-left: .5rem;
    padding-top: .5rem;
    line-height: 30px;
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: left;
}

.product_category {
    font-size: 14px;
    font-weight: 550;
    color: #41414175;
    font-family: "Poppins", sans-serif;
    text-decoration: none;
}

.product_link{
    text-decoration: none;
    color: #414141bc;
}

.product_link:hover{
    text-decoration: none;
    color: #414141bc;
}

.product_name a{
    color: black;
    text-decoration: none;
}
.product_name a:hover{
    color: black;
    text-decoration: none;
}

.product_name {
    font-family: "Poppins", sans-serif;
    line-height: 30px;
    font-style: italic;
    font-size: 18px;
}

.product_rating .fas{
    font-size: 14px;
    margin-right: 2px;
}
.product_price {
    font-size: 21px;
    font-weight: 600;
    margin-top: 5px;
}

  .product_footer{
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 6px rgba(152, 152, 152, 0.315);
  }
  .popular_product1 {
      padding-top: 1em;
      box-shadow: 0px 0px 4px rgb(155, 155, 155);
  }
  h2 {
  	color: #000;
  	font-size: 26px;
  	font-weight: 300;
  	text-align: center;
  	text-transform: uppercase;
  	position: relative;
  	margin-bottom: 1.5em;
  }
  h2::after {
  	content: "";
  	width: 100px;
  	position: absolute;
  	margin: 0 auto;
  	height: 4px;
  	border-radius: 1px;
  	background: #0099dab0;
  	left: 0;
  	right: 0;
  	bottom: -20px;
  }
   .item {
       width: 100%;
       margin-top: 4em;
   	color: #747d89;
   	min-height: 470px;
   	text-align: center;
   }

   .item .row{
   max-width: 100%;
       display: flex;
       flex-direction: row;
       justify-content: space-between;
   }

   .item .row .col-sm-3{
   width:49%;
   padding-left:0px;
   padding-right:0px;
   }

   .thumb-wrapper {
           max-height: 390px;
           border: 2px solid #0099dab0;
           position: relative;
           box-shadow: 0 2px 3px rgba(0,0,0,0.2);
           margin-bottom: 2em;
   }
   .item .img-box {
   	height: 180px;
   	width: 100%;
   	position: relative;
       overflow: hidden;
       transition: 1s;
       border-radius: 10px 10px 0px 0px;
   }

   .img-box img {
       transition: transform 02s;
       width: 100%;
       height: 100%;
       cursor: pointer;
   }

   .img-box img:hover {
       scale: 1.1;
   }
   .item img {
   	max-width: 100%;
   	max-height: 100%;
   	display: inline-block;
   	position: absolute;
   }
   .item h4 {
   	font-size: 19px;
       color: black;
       height: 45px;

   }
   .item h4, .item p, .item ul {
   	margin-bottom: 5px;

   }
   .thumb-content {
        display: flex;
       flex-direction: column;
       justify-content: center;
   }

   .thumb-content h4{
      padding: 0px 0.5em;
      }

   .thumb-content .btn {
   	        color: #00baee;
            font-size: 10px;
            text-transform: uppercase;
            font-weight: bold;
            height: 3.4em;
   }
   .thumb-content .btn:hover, .thumb-content .btn:focus {
   	color: #fff;
   	background: #00baee;
   	box-shadow: none;
   }

   .thumb-content h4 a {
   text-decoration: none;
   color: black;}

   .thumb-content h4 a:hover {
   color: #00baee;}

   .thumb-content .btn i {

   	font-size: 14px;
   	font-weight: bold;
   	margin-left: 5px;
   }
   .item-price {
   width: 60%;
       display: flex;
       color: #ff0000;
   	font-size: 16px;
       padding-top: 16px;
   }
   .wish-icon {
   	position: absolute;
   	right: 10px;
   	top: 10px;
   	z-index: 99;
   	cursor: pointer;
   	font-size: 17px;
   	color: #abb0b8;
   }
   .wish-icon .fa-heart {
   	color: #ff6161;
   }
   .star-rating li {
   	padding: 0;
   }
   .star-rating i {
   	font-size: 14px;
   	color: #ffc000;
       text-align: center;
   }

   .thumb-content_footer {
   width:100%;
       display: flex;
       justify-content: space-between;
       align-items: center;
       padding: 0px 1em;
       margin-top: -8px;
   }

   .choose_size {
           display: flex;
           max-width: 245px;
           overflow: hidden;
   }

   .size_label {
       padding-top:1em;
       font-size: 10px;
   }

   .size_btn.selected {
        background-color: red;
        color: white;
   }

   .choose_color {
   height: 34px;
           margin: 0px;
           display: flex;
           flex-direction: row;
           align-items: center;
           justify-content: flex-start;
   }

   .color_btn {
          margin-left: 5px;
          background-color: rgba(255, 255, 255, 0);
          border: 1px solid rgb(173, 173, 173);
          font-size: 12px;
          min-width: 19px;
          height: 21px;
          border-radius: 3px;
   }

   .color_btn.selected {
        background-color: red;
        color: white;
   }



   .badge {
     padding-left: 9px;
     padding-right: 9px;
     -webkit-border-radius: 9px;
     -moz-border-radius: 9px;
     border-radius: 9px;
   }

   .label-warning[href],
   .badge-warning[href] {
     background-color: #c67605;
   }

   footer {
       position: relative;
       width:100vw;
       top: 60px;
       background-color: #0c66600a;
       }

       .footer_container {
         display: flex;
         flex-direction: column;
         align-items: center;
         justify-content: center;
         align-items: center;
         justify-content: center;
       }

       .footer-contents {
         width: 100vw;
         padding: 0px 10px;
         display: flex;
         flex-direction: column;
         justify-content: space-around;
       }

       .footer-content {
           width: 100%;
           height: 100%;
           text-align: left;
           float: left;
           margin-bottom: .5em;;
         }

         .footer-content img {
           width: 200px;
           padding-top: 1em;
         }

       h3 {
         font-size: 18px;
         margin-bottom: 10px;
       }

       .footer-content p {
           line-height: 24px;
         text-wrap: revert;
             margin: 0;
             width: 100%;
             text-align: justify;
       }

       .social-media {
         list-style: none;
         padding: 0;
         margin-top: 10px;
       }

       .social-media li {
         display: inline-block;
         margin-right: 10px;
       }

       .social-media li a {
         color: #333;
         font-size: 20px;
       }

       .footer-copy {
         text-align: center;
         margin-top: 20px;
         font-size: 13px;
         color: #777;
         font-style: italic;
       }
}


@media (max-width: 460px) {

 .size_btn {
      margin-left: 5px;
      background-color: rgba(255, 255, 255, 0);
      border: 1px solid rgb(173, 173, 173);
      font-size: 9px;
      min-width: 17px;
      height: 25px;
      border-radius: 3px;
  }
}






/* Man hinh dien thoai*/
@media (max-width: 460px) {
body {
font-family: "Poppins", sans-serif;
    width: 100vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    font-family: Roboto, sans-serif;
}
.G5KGVD_d{
        font-size: 12px;
}
.G5KGVD{
        font-size: 14px;
        color: red;
        font-weight: 600;
}
    header {
        position: fixed;
        z-index: 100;
        width: 100vw;
        height: 60px;
        background-color: rgb(255, 255, 255);
        box-shadow: 0px 0px 5px rgb(176, 176, 176);
    }

    .row {
        display: flex;
        max-width: 100vw;
        flex-direction: row;
    }
    .row .col-sm-2 {
        width: 30vw;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .row .col-sm-2 .header_logo {
        text-align: center;
    }

    .header_logo img {
        height: 50px;
    }

    .row .col-sm-6 {
        display: none;
        width:0px;
    }

    .row .col-sm-4 {
        width: 59vw;}

    .header_nav .nav_header_a {
        font-size: 14px;
        display:none;
    }

    .search_input {
        width:32vw;
    }


    .search-container input[type="search"] {
        padding: 3px;
        width: 100%;
        border: 1px solid #ccc;
        border-radius: 4px;
    }

    .search-container button {
        margin-left: 5px;
        padding: 3px 8px;
    }

    .account_action {
            height: 68px;
            width: 60vw;
    }

    .account_icons {
        padding: 0px 1em;
    }

    .account_icon {
        font-size: 20px;
        padding: 0px 0.5rem;
    }

    .account_icon {
        color: black;
    }

    #lblCartCount {
        font-size: 10px;
        padding: 0 3px;
        margin-left: 8px;
        top: -2px;
        right: -10px;
    }

    .profile {
            width: 35px;
            height: 35px;
            border: 1px solid #00baee;
    }

    .profile img{
            width: 30px;
            height: 30px;
        }

    .sub-item p {
        font-size: 14px;
        margin: 0.15rem 0;
    }

    .logout {
        width: 100%;
    }
    main{
      position:relative;
        top: 60px;
        width: 100%;
      }

      .slogan {
        background-color: #18b5f9;
        display: flex;
        justify-content: center;
        height: 30px;
        align-items: center;
    	font-size: 14px;
    	font-weight: 500;
    	text-align: center;
    	font-family: "Poppins", sans-serif;
    	position: relative;
        color: white;
         }
    .nav_branch_logo {
        display:none;
    }
.popular_product {
    width: 100%;
    min-height:770px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    border-bottom:2px solid rgba(0, 0, 0, 0.289);
    background-color: #00fbeb0a;
}

.popular_product_header h1{
    width: 100%;
    height: 70px;
    margin-bottom: rem;
    font-family: "Poppins", sans-serif;
}

.astra-shop-thumbnail-wrap {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: auto;
    border-radius: 10px 10px 0px 0px;
}

.astra-shop-thumbnail-wrap img{
    width: 100%;
    height: auto;
    transition: transform 0.3s;
}

.astra-shop-thumbnail-wrap img:hover {
    transform: scale(1.1);
    overflow: hidden;
}


.popular_product_header h1{
    line-height: 70px;
    text-align: center;
    color: black;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
}

.popular_product_product_lines {
    width: 100vw;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
}

.popular_product_product_lines .row .col-sm-3 {
width:47vw;
}

.popular_product_product_line {
    border: 3px solid #0099dab0;
        border-radius: 10px;
        background-color: #fff;
        max-height: 320px;
        width: 115%;
        height: 320px;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-family: "Poppins", sans-serif;
        box-shadow: 2px 2px 6px rgba(152, 152, 152, 0.315);
        margin-bottom: 0.5em;
}

.astra-shop-summary-wrap {
    padding-left: .5rem;
    padding-top: .5rem;
    line-height: 30px;
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: left;
}

.product_category {
    font-size: 14px;
    font-weight: 550;
    color: #41414175;
    font-family: "Poppins", sans-serif;
    text-decoration: none;
}

.product_link{
    text-decoration: none;
    color: #414141bc;
}

.product_link:hover{
    text-decoration: none;
    color: #414141bc;
}

.product_name a{
    color: black;
    text-decoration: none;
}
.product_name a:hover{
    color: black;
    text-decoration: none;
}

.product_name {
    font-family: "Poppins", sans-serif;
    line-height: 30px;
    font-style: italic;
    font-size: 18px;
}

.product_rating .fas{
    font-size: 14px;
    margin-right: 2px;
}
.product_price {
    font-size: 21px;
    font-weight: 600;
    margin-top: 5px;
}

  .product_footer{
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 6px rgba(152, 152, 152, 0.315);
  }
  .popular_product1 {
      padding-top: 1em;
      box-shadow: 0px 0px 4px rgb(155, 155, 155);
  }
  h2 {
  	color: #000;
  	font-size: 26px;
  	font-weight: 300;
  	text-align: center;
  	text-transform: uppercase;
  	position: relative;
  	margin-bottom: 1.5em;
  }
  h2::after {
  	content: "";
  	width: 100px;
  	position: absolute;
  	margin: 0 auto;
  	height: 4px;
  	border-radius: 1px;
  	background: #0099dab0;
  	left: 0;
  	right: 0;
  	bottom: -20px;
  }
   .item {
       width: 100%;
       margin-top: 4em;
   	color: #747d89;
   	min-height: 470px;
   	text-align: center;
   }

   .item .row{
   max-width: 100%;
       display: flex;
       flex-direction: row;
       justify-content: space-between;
   }

   .item .row .col-sm-3{
   width:49%;
   padding-left:0px;
   padding-right:0px;
   }

   .thumb-wrapper {
       width: 100%;
       height: 377px;
       padding: 0px 0px 20px 0px;
       border: 2px solid #0099dab0;
   	background: #fff;
   	border-radius: 10px;
   	text-align: center;
   	position: relative;
   	box-shadow: 0 2px 3px rgba(0,0,0,0.2);
       margin-bottom: 2em;
   }
   .item .img-box {
   	height: 180px;
   	width: 100%;
   	position: relative;
       overflow: hidden;
       transition: 1s;
       border-radius: 10px 10px 0px 0px;
   }

   .img-box img {
       transition: transform 02s;
       width: 100%;
       height: 100%;
       cursor: pointer;
   }

   .img-box img:hover {
       scale: 1.1;
   }
   .item img {
   	max-width: 100%;
   	max-height: 100%;
   	display: inline-block;
   	position: absolute;
   }
   .item h4 {
   	font-size: 19px;
       color: black;

   }
   .item h4, .item p, .item ul {
   	margin-bottom: 5px;
   }
   .thumb-content .btn {
       min-width: 50%;
   display: flex;
       align-items: center;
   	    max-width: 40%;
            color: #00baee;
            font-size: 8px;
            margin-left:8px;
   }
   .thumb-content .btn:hover, .thumb-content .btn:focus {
   	color: #fff;
   	background: #00baee;
   	box-shadow: none;
   }

   .thumb-content h4 a {
   text-decoration: none;
   color: black;}

   .thumb-content h4 a:hover {
   color: #00baee;}

   .thumb-content .btn i {

   	font-size: 14px;
   	font-weight: bold;
   	margin-left: 5px;
   }
   .item-price {
   width: 50%;
       display: flex;
       color: #ff0000;
       padding-top: 16px;
   }
   .wish-icon {
   	position: absolute;
   	right: 10px;
   	top: 10px;
   	z-index: 99;
   	cursor: pointer;
   	font-size: 17px;
   	color: #abb0b8;
   }
   .wish-icon .fa-heart {
   	color: #ff6161;
   }
   .star-rating li {
   	padding: 0;
   }
   .star-rating i {
   	font-size: 14px;
   	color: #ffc000;
       text-align: center;
   }

   .thumb-content_footer {
       width: 100%;
       display: flex;
       align-items: center;
       padding: 0px 1em;
       margin-top: -4px;
   }

   .choose_size {
           display: flex;
           width: 172px;
           overflow: hidden;
   }

   .size_label {
       padding-top:1em;
       font-size: 7px;
   }
   .size_btn {
        display: flex;
        font-size: 8px;
        align-items: center;
        justify-content: center;
        border-radius: 3px;
        overflow: hidden;
   }

   .size_btn.selected {
        background-color: red;
        color: white;
   }

   .choose_color {
           margin: 0px;
           display: flex;
           flex-direction: row;
           align-items: center;
           justify-content: flex-start;
   }

   .color_btn {
             margin-left: 5px;
             background-color: rgba(255, 255, 255, 0);
             border: 1px solid rgb(173, 173, 173);
             font-size: 7px;
             min-width: 19px;
             font-family: "Poppins", sans-serif;
             display: flex;
             align-items: center;
             justify-content: center;
             line-height: 23px;
   }

   .color_btn.selected {
        background-color: red;
        color: white;
   }



   .badge {
     padding-left: 9px;
     padding-right: 9px;
     -webkit-border-radius: 9px;
     -moz-border-radius: 9px;
     border-radius: 9px;
   }

   .label-warning[href],
   .badge-warning[href] {
     background-color: #c67605;
   }

   footer {
       position: relative;
       max-width: 100%;
       top: 60px;
       padding: 0px 2em;
       background-color: #0c66600a;
       }

       .footer_container {
         display: flex;
         flex-direction: column;
         align-items: center;
         justify-content: center;
         align-items: center;
         justify-content: center;
       }

       .footer-contents {
         width: 370px;
         padding: 0px 10px;
         display: flex;
         flex-direction: column;
         justify-content: space-around;
       }

       .footer-content {
           width: 100%;
           height: 100%;
           text-align: left;
           float: left;
           margin-bottom: .5em;;
         }

         .footer-content img {
           width: 200px;
           padding-top: 1em;
         }

       h3 {
         font-size: 18px;
         margin-bottom: 10px;
       }

       .footer-content p {
           line-height: 24px;
         text-wrap: revert;
             margin: 0;
             width: 100%;
             text-align: justify;
       }

       .social-media {
         list-style: none;
         padding: 0;
         margin-top: 10px;
       }

       .social-media li {
         display: inline-block;
         margin-right: 10px;
       }

       .social-media li a {
         color: #333;
         font-size: 20px;
       }

       .footer-copy {
         text-align: center;
         margin-top: 20px;
         font-size: 13px;
         color: #777;
         font-style: italic;
       }
}

@media (max-width: 375px) {
.choose_size {
    display: flex;
    width: 145px;
    overflow: hidden;
}
.thumb-content .btn {
    min-width: 55%;
}
}




































